<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
string1 = "Data Science"
print(len(string1))

12

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [10]:
# write your answer here

import operator

string1 = "google.com"

char_count = {}
for char in set(string1):
    char_count[char] = string1.count(char)
    
char_count = dict(sorted(char_count.items(), key=operator.itemgetter(1),reverse=True))
print(char_count)

{'o': 3, 'g': 2, 'c': 1, '.': 1, 'l': 1, 'm': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [17]:
# write your answer here

list_elements = [5, 6, 7, 8, 9]

sum = 0

for num in list_elements:
    sum += num
    
print(sum)

35

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [18]:
# write your answer here

input_str = "restart"

# replacing all occurences of first char except the first char itself...
input_str = "".join((input_str[0], input_str[1:].replace(input_str[0], "*")))
print(input_str)

resta*t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [19]:
# write your answer here
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))

S = 3.14 * (1 + (a/b)) ** 3
print("The value of S is: {}".format(S))

Enter a value: 3
Enter b value: 4
The value of S is: 16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
# write your answer here

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}

result_dic = {}

for dic in [dic1, dic2, dic3]:
    result_dic.update(dic)
    
print(result_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [24]:
# write your answer here

sample_tuple = ("department", "data science")

element = input("Enter an element you want to search in the tuple: ")

if element in sample_tuple:
    print("The element is present in the tuple!!!")
else:
    print("The element is not present in the tuple!!!")

Enter an element you want to search in the tuple: data science
The element is present in the tuple!!!

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [25]:
# write your answer here

input_set = {12, 15, 6, 8, 16, 18}

# uisng max(), min() built-in functions...
print("Maximum value in this set is: {}".format(max(input_set)))
print("Minimum value in this set is: {}".format(min(input_set)))

Maximum value in this set is: 18
Minimum value in this set is: 6

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [51]:
# write your answer here

import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

# the len_group numbers sum upto 30
group_len = [5, 6, 4, 6, 5, 4]
random.shuffle(group_len)
result = []

for length in group_len:
    
    # generating a sample of length in len_group  
    group = random.sample(studnet_list, length)
    
    # remove those elements from the studnet_list that are in group sample, 
    studnet_list = list(set(studnet_list) ^ set(group))
    
    # Adding the random sample to a resultant 2d array.
    result = result + [group]
    
# printing the 6 groups.
for row in result:
    print(row, end= '\n')

['nm0618', 'vm0377', 'ms1500', 'sg1297', 'dr0609']
['sk1313', 'fh0141', 'ak0934', 'ja0964', 'sc1229', 'av0659']
['sk1386', 'sk1390', 'ds0814', 'sb1357']
['pr0353', 'sm1907', 'bg0320', 'kg0569']
['gn0108', 'kg0470', 'vb0218', 'ak0956', 'aos0040']
['sa1198', 'hy0232', 'nv0234', 'sm1640', 'jl1252', 'sk1458']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [56]:
# write your answer here

import numpy as np

arr = np.array([2, 5, 6, 7, 5, 2, 3, 4, 6, 7])
flag = 0

for num in set(arr):
  # get the count of occurences that are greater than 1.
  if np.count_nonzero(arr == num) > 1:
    flag = 1
    print(num, end = ' ')

# if there are no duplicate elements, tehn we print '-1'.
if flag == 0:
    print("-1")

2 5 6 7

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [58]:
# write your answer here

import pandas as pd

def yearly_sundays(year):
    
  # date_range(): we specify year and frequency as sunday and strftime which determines the output format.
  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year to obtain the list of sundays..."))
yearly_sundays(year)

Enter the year to obtain the list of sundays...2000

['02-January-2000',
 '09-January-2000',
 '16-January-2000',
 '23-January-2000',
 '30-January-2000',
 '06-February-2000',
 '13-February-2000',
 '20-February-2000',
 '27-February-2000',
 '05-March-2000',
 '12-March-2000',
 '19-March-2000',
 '26-March-2000',
 '02-April-2000',
 '09-April-2000',
 '16-April-2000',
 '23-April-2000',
 '30-April-2000',
 '07-May-2000',
 '14-May-2000',
 '21-May-2000',
 '28-May-2000',
 '04-June-2000',
 '11-June-2000',
 '18-June-2000',
 '25-June-2000',
 '02-July-2000',
 '09-July-2000',
 '16-July-2000',
 '23-July-2000',
 '30-July-2000',
 '06-August-2000',
 '13-August-2000',
 '20-August-2000',
 '27-August-2000',
 '03-September-2000',
 '10-September-2000',
 '17-September-2000',
 '24-September-2000',
 '01-October-2000',
 '08-October-2000',
 '15-October-2000',
 '22-October-2000',
 '29-October-2000',
 '05-November-2000',
 '12-November-2000',
 '19-November-2000',
 '26-November-2000',
 '03-December-2000',
 '10-December-2000',
 '17-December-2000',
 '24-December-2000',
 '31-December-2000']